{
  "jsc": {
    "target": "es2015",
    "externalHelpers": true,
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "react": {
        "runtime": "automatic"
      }
    },
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    }
  }
}